<!DOCTYPE html>
<html ng-app="onlineexam" ng-controller="UserController as ctrl">
<head>
<meta charset="ISO-8859-1"/>
<title>User Registration</title>
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controller/user_controller.js"></script>
<script src="js/service/user_service.js"></script>

<script type="text/javascript"></script>
<style type="text/css">

#main

{
height:1000px;
background-color:white;
}
#header
{
height:180px;

//background-white;
}
#title
{
font-size: 20px;
padding-top: 50px;

}
#body
{
height:350px;
//background-color: blue;
}
#loginTable
{
padding-left: 480px;
padding-top: 70px;
}
</style>
</head>
<body>
<div id="main">
<div id="header">
<div id="title" style="text-align:center;padding-bottom:30px;color: red"><b>Hospital Management System</b></div>
</div>
<div id="body" >
<table  id="loginTable" >
   <tr>
       <td >Username:</td>
       <td>
      <input type="text" ng-model="ctrl.user.username" name="uname"/>
      </td>
    </tr>
    <tr height="14px">
    </tr>
    <tr>
    <td>
    Password:
    </td>
    <td>
    <input type="password" ng-model="ctrl.user.password" name="pwd"/>
    </td>
    </tr>
    <tr height="14px">
    </tr>
    <tr>
    <td>
   <!--  <input type="submit" value="login"/> -->
   <input type="submit" value="SUBMIT" ng-click="ctrl.login()"/>
    </td>
    
    <td>
    <!-- <input type="submit" value="Register"/> -->
    <a href="regestration.html">Register</a>
    </td>
    </tr>

</table>
</div>
<div id="footer">
</div>
</div>


</body>


</html>
